* Name: Srushti Dhakate

> Indented block


* Roll No: 25
* Section: A
* Batch: A2
* Branch: CSE (First Shift)
* Subject: Systems Lab - 1
* **TASK 8**

Q1. Operations and methods in python set.

Creating Python Sets

In [1]:
#Set of integers

my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [3]:
#Set if mixed datatypes

my_set = {1.0, "Hello", (1,2,3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [4]:
#Set cannot have duplicates 

my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [6]:
#we can make a set frm list

my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [7]:
x = {1,2,3,4}
print(type(x))

<class 'set'>

In [8]:
#distinguish set and dictionary while creatng and empty set

a = {}
print(type(a))

a = set()
print(type(a))

a = dict()
print(type(a))

a = dict({})
print(type(a))

<class 'dict'>
<class 'set'>
<class 'dict'>
<class 'dict'>

In [9]:
my_set = {1,3}
print(my_set)

# print(my_set[0]) gives an error

#add and element
my_set.add(2)
print(my_set)

#add multiple elements
my_set.update([2,3,4,5,6,7])
print(my_set)

#add list and set
my_set.update([4,5,10], {1,61,11})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10, 11, 61}

In [10]:
#using add() method

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pine", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'mango', 'pine', 'papaya', 'apple', 'banana', 'cherry'}

In [13]:
thisset = {"apple", "banana", "cherry"}
tropical = ["pine", "mango", "papaya"]

thisset.update(tropical)

print(thisset)

{'pine', 'mango', 'papaya', 'apple', 'banana', 'cherry'}

In [14]:
thisset = {"apple", "banana", "cherry"}
tropical = ["pine", "mango", "papaya"]

tropical.append(thisset)

print(tropical)

['pine', 'mango', 'papaya', {'apple', 'banana', 'cherry'}]

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [19]:
# Python 3 code to
# remove an item from list
# using del statement

lst = ['Iris', 'Orchids', 'Rose', 'Lavender',
	'Lily', 'Carnations']
print("Original List is :", lst)

# using del statement
# to delete item (Orchids at index 1)
# from the list
del lst[1]
print("After deleting the item :", lst)

Original List is : ['Iris', 'Orchids', 'Rose', 'Lavender', 'Lily', 'Carnations']
After deleting the item : ['Iris', 'Rose', 'Lavender', 'Lily', 'Carnations']

Joining Two Sets

In [20]:
#using union()

set1 = {"a", "b", "c"}
set2 = {1,2,3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [21]:
#using union()

set1 = {"a", "b", "c"}
set2 = {1,2,3}

print(set1.union(set2))

{1, 'a', 2, 3, 'c', 'b'}

In [22]:
#using update()

set1 = {"a", "b", "c"}
set2 = {1,2,3}

set3 = set1.update(set2)
print(set3)

None

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'c', 'b'}

In [24]:
set1 = {"a", "b", "c"}
set2 = {1,2,3}
set3 = {7,8,9}

set1.update(set2,set3)

print(set1)

{1, 'a', 2, 3, 'c', 'b', 7, 8, 9}

Insert Items

In [25]:
#intersection_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


set1.intersection_update(set2)

print(set1)

{'apple'}

In [27]:
#intersection()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}


z=set1.intersection(set2)

print(z)

{'apple'}

In [28]:
#symmetric_difference_update()

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'banana', 'cherry'}

In [29]:
#create a set
num_set = set([0,1,2,3,4,5])
for n in num_set:
  print(n, end=' ')
print("\n\nCreating a set using string:")
char_set = set("w3resource")

#iterating using for loop
for val in char_set:
  print(val, end=' ')

0 1 2 3 4 5

Creating a set using string:
o c r s 3 u e w

In [30]:
X = {1,2,3}
Y = {1,2,3,4,5,6,7}

#checking subset using <= operator
print(X <= Y)
#TRUE

#using issubset()
print(X.issubset(Y))
#TRUE

#checking superset using >= operator
print(X >= Y)
#FALSE

print(Y >= X)
#TRUE

#checking superset using issuperset()
print(Y.issuperset(X))
#TRUE

print(X.issuperset(Y))

True
True
False
True
True
False

Q2. Write a Python program to remove an item from a set if it is present in 
the set.

In [31]:
my_set = set()
my_set.update([1,2,3,4,5,6,7,8,9])

x = int(input("Enter the item to be removed from the set:"))
my_set.discard(x)
print(my_set)

Enter the item to be removed from the set:7
{1, 2, 3, 4, 5, 6, 8, 9}

Q3. Write a Python program to create an intersection of sets.(using both
operator and method)

In [32]:
set1 = set({"butter", "milk"})
set2 = set({"bread", "jam", "butter", "milk"})
#set3 = set1 & set2
print(set1 & set2)

print(set1.intersection(set2))

{'butter', 'milk'}
{'butter', 'milk'}

Q4. Write a Python program to create union of sets.(using both operator
and method)

In [33]:
set1 = set({"butter", "milk"})
set2 = set({"bread", "jam", "butter", "milk"})

print(set1 | set2)

print(set1.union(set2))

{'bread', 'butter', 'milk', 'jam'}
{'bread', 'butter', 'milk', 'jam'}

Q5. Write a Python program to create set difference of sets.(using both
operator and method)

In [34]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

print(A.difference(B))

print(B.difference(A))

#using symbols
print(A-B)
print(B-A)

print(A.difference(B))
print(B.difference(A))

{'a', 'b', 'd'}
{'f', 'g'}
{'a', 'b', 'd'}
{'f', 'g'}
{'a', 'b', 'd'}
{'f', 'g'}

Q6. Write a python program to find symmetric set difference between two
sets.(using both operator and method)

In [35]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e'}
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'a', 'b', 'e'}
{'a', 'b', 'e'}
{'a', 'c', 'b', 'd'}
{'d', 'c', 'e'}

In [37]:
#using operator

A = {'p', 'q', 'c', 'd'}
B = {'c', 'd', 'e'}

print(A^B)
print(B^A)

print(A^A)
print(B^B)

{'p', 'q', 'e'}
{'p', 'q', 'e'}
set()
set()

Q7. Write a python program to demonstrate Frozen set operations.
Perform following operations on the frozen set.
Hint:
Like normal sets, frozenset can also perform different operations like 
copy, difference, intersection, symmetric difference, and union.

In [38]:
#frozenset() IMPORTANT!!!!!!!!!!!

vowels = ('a', 'e', 'i', 'o', 'u')

fSet = frozenset(vowels)

print(type(fSet))
print('The frozen set is:', fSet)
print("The empty frozen set is:", frozenset())

<class 'frozenset'>
The frozen set is: frozenset({'o', 'a', 'i', 'u', 'e'})
The empty frozen set is: frozenset()

In [39]:
A = frozenset([1,2,3,4])
B = frozenset([3,4,5,6])

#copy
C = A.copy()
print(C)

#union
print(A.union(B))

#difference
print(A.difference(B))

#symmetric_difference
print(A.symmetric_difference(B))

#intersection
print(A.intersection(B))

frozenset({1, 2, 3, 4})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 5, 6})
frozenset({3, 4})

Q8. Write a python program to demonstrate different methods like
isdisjoint, issubset, and issuperset are also available.

In [40]:
A = frozenset([1,2,3,4])
B = frozenset([3,4,5,6])
C = frozenset([5,6])

print(A.isdisjoint(C))
print(B.isdisjoint(C))

print(C.issubset(B))

print(B.issuperset(C))

True
False
True
True

Q9. A set contains names which begin either with A or with B. Write a program to separate out the names into two sets, one containing names beginning with A and another containing names beginning with B.

In [44]:
#creating a set using a string
test_set = {"Ajay", "Arpit", "Bhargavi", "Aarav", "Bhuvan", "Bhavesh"}
list1=[]
list2=[]

#iterating using enumerated for loop
for id,val in enumerate(test_set):
  print(id,val)

#converting set into list
mylist=list(test_set)
print(mylist)

for val in mylist:
  if val.startswith('A'):
    list1.append(val)
  else:
    list2.append(val)
print("The set1 with sll names staring eith letter A:")
print(set(list1))

print("The set2 with all names starting with letter B:")
print(set(list2))

0 Bhargavi
1 Aarav
2 Bhuvan
3 Arpit
4 Ajay
5 Bhavesh
['Bhargavi', 'Aarav', 'Bhuvan', 'Arpit', 'Ajay', 'Bhavesh']
The set1 with sll names staring eith letter A:
{'Ajay', 'Arpit', 'Aarav'}
The set2 with all names starting with letter B:
{'Bhargavi', 'Bhuvan', 'Bhavesh'}

In [46]:
#another method
a = set()
b = set()
names = {'anand', 'bina', 'benjamin', 'ayesha', 'brian', 'adarsh'}
print(names)

for ele in names:
      if ele.startswith("a"):
           a.add(ele)
      elif ele.startswith("b"):
           b.add(ele)

print("Set a contains : ", a)
print("Set b contains : ", b)

{'adarsh', 'ayesha', 'bina', 'anand', 'brian', 'benjamin'}
Set a contains :  {'adarsh', 'ayesha', 'anand'}
Set b contains :  {'benjamin', 'brian', 'bina'}

Q10. Write a program to create a set containing 10 randomly generated
numbers in the range 15 to 45. Count how many of these numbers are
less than 30. Delete all numbers which are greater than 35.

In [47]:
import random
a=[]
count=0
num=int(input("Enter the number of random elements to generate:"))

for j in range(num):
  (a.append(random.randint(15,45)))
print(a)
myset=set(a)
print(myset)

#count how many of these numbers are less than 30.
for n in myset:
  if(n<30):
    count=count+1
print("The count of numbers less than 30 are:", count)

#delete all numbers which are greater than 35

import copy
for item in copy.copy(myset):
  if item>35:
    myset.remove(item)
print("The items left in the set after removing numbers greater than 35 are:", myset)

Enter the number of random elements to generate:10
[38, 36, 25, 34, 15, 29, 16, 31, 23, 28]
{34, 36, 38, 15, 16, 23, 25, 28, 29, 31}
The count of numbers less than 30 are: 6
The items left in the set after removing numbers greater than 35 are: {34, 15, 16, 23, 25, 28, 29, 31}