In [ ]:
Name: Srushti Dhakate


Roll No: 25
Section: A
Batch: A2
Branch: CSE (First Shift)
Subject: Systems Lab - 1
TASK 6

Q1. List operations and Methods.

In [1]:
lst = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst.append(ele)5
  2

Enter the number of elements: 5
Enter a number: 3
Enter a number: 5
Enter a number: 6
Enter a number: 67
Enter a number: 09
[3, 5, 6, 67, 9]

In [3]:

lst = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst.append(ele)

print(lst)

sq_list = []

for i in lst:
  sq_list.append(i*i)

print(sq_list)

Enter the number of elements: 6
Enter a number: 12
Enter a number: 41
Enter a number: 94
Enter a number: 56
Enter a number: 76
Enter a number: 41
[12, 41, 94, 56, 76, 41]
[144, 1681, 8836, 3136, 5776, 1681]

In [4]:
lst = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst.append(ele)

print(lst)

sum_list = []
sum = 0

for i in lst:
  sum+=i

print(sum)

Enter the number of elements: 7
Enter a number: 65
Enter a number: 25
Enter a number: 62
Enter a number: 43
Enter a number: 53
Enter a number: 78
Enter a number: 21
[65, 25, 62, 43, 53, 78, 21]
347

In [5]:
l = [1,2,3,4,5,6,7,8,9]

x = len(l)
print("The length of the list is", x)

n=9

x = [l[i:(i + n)] for i in range (0, len(l), n)]
print(x)

The length of the list is 9
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [6]:
def Rotate_list(L,k):
  if k<0:
    print(L)
  else:
    L = (L[-k:] + L[:-k])
    print(L)

n = int(input("Enter number of rotations: "))

List = [0,1,2,3,4]

Rotate_list(List, n)

Enter number of rotations: 4
[1, 2, 3, 4, 0]

In [7]:
#List Constructor

my_list1 = list((1,2,3))
print(my_list1)

[1, 2, 3]

In [8]:
#Using square brackets

my_list2 = [1, 2, 3]
print(my_list2)

[1, 2, 3]

In [9]:
#With heterogeneous items

my_list3 = [1.0, 'Jessa', 3]
print(my_list3)

[1.0, 'Jessa', 3]

In [10]:
#Empty list using round braces

my_list4 = list()
print(my_list4)

[]

In [11]:
#Empty list using sqaure braces

my_list5 = []
print(my_list4)

[]

In [13]:
#Length of a list
my_list = [1, 2, 3]
print(len(my_list))

3

In [14]:
#Accessing items of a list
my_list = [10, 20, 'Jessa', 12.50, 'Emma']
print(my_list[1])
print(my_list[4])

20
Emma

In [15]:
#Negative Indexing

my_list = [10, 20, 'Jessa', 12.50, 'Emma']
print(my_list[-1])
print(my_list[-2])

Emma
12.5

In [16]:
#Slicing

my_list = [10, 20, 'Jessa', 12.50, 'Emma', 25, 50]
print(my_list[2:5])

['Jessa', 12.5, 'Emma']

In [17]:
my_list = [5, 8, 'Tom', 7.50, 'Emma']
print(my_list[:4])
print(my_list[::2])

[5, 8, 'Tom', 7.5]
[5, 'Tom', 'Emma']

In [18]:
my_list = [5, 8, 'Tom', 7.50, 'Emma']
print(my_list[::-1])
print(my_list[3:])

['Emma', 7.5, 'Tom', 8, 5]
[7.5, 'Emma']

In [19]:
#Iterating a list

my_list = [5, 8, 'Tom', 7.50, 'Emma']
for item in my_list:
  print(item)

5
8
Tom
7.5
Emma

In [20]:
#Using an index

my_list = [5, 8, 'Tom', 7.50, 'Emma']
for i in range(0, len(my_list)):
  print(my_list[i])

5
8
Tom
7.5
Emma

In [21]:
#Adding elements to the list

#Using append

my_list = list([5, 8, 'Tom', 7.50])
print(my_list)

my_list.append([25, 50, 75])
print(my_list)

[5, 8, 'Tom', 7.5]
[5, 8, 'Tom', 7.5, [25, 50, 75]]

In [22]:
#Using insert()

my_list = list([5, 8, 'Tom', 7.50])
my_list.insert(2, 25)
print(my_list)

my_list.insert(3, [25, 50, 75])
print(my_list)

[5, 8, 25, 'Tom', 7.5]
[5, 8, 25, [25, 50, 75], 'Tom', 7.5]

In [23]:
#Using extend()

my_list = list([5, 8, 'Tom', 7.50])
my_list.extend([25, 75, 100])
print(my_list)

[5, 8, 'Tom', 7.5, 25, 75, 100]

In [24]:
#Modify the items of a list

#Single item

my_list = list([2, 4, 6, 8, 10, 12])
my_list[0] = 20
print(my_list)

[20, 4, 6, 8, 10, 12]

In [25]:
#Range of items

my_list = list([2, 4, 6, 8, 10, 12])
my_list[1:4] = [40, 60, 80]
print(my_list)

[2, 40, 60, 80, 10, 12]

In [26]:
#3rd index to end

my_list = list([2, 4, 6, 8, 10, 12])
my_list[3:] = [80, 100, 120]
print(my_list)

[2, 4, 6, 80, 100, 120]

In [27]:
#All items

my_list = list([2, 4, 6, 8])
for i in range(len(my_list)):
  square = my_list[i] * my_list[i]
  my_list[i] = square
print(my_list)

[4, 16, 36, 64]

In [28]:
#Removing elemnts from a list

my_list = list([2, 4, 6, 8, 10, 12])
my_list.remove(6)
my_list.remove(8)
print(my_list)

[2, 4, 10, 12]

In [29]:
#Remove all occurrence of a specific item

my_list = list([6, 4, 6, 6, 8, 12])
for item in my_list:
  my_list.remove(6)
print(my_list)

[4, 8, 12]

In [30]:
#Remove item present at given index pop()

my_list = list([2, 4, 6, 8, 10, 12])
my_list.pop(2)
print(my_list)

my_list.pop()
print(my_list)

[2, 4, 8, 10, 12]
[2, 4, 8, 10]

 Q2. Write a python Program to Find the Largest Number in a List.

In [31]:
lst = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst.append(ele)

print(lst)

print("Largest element is: ", max(lst))

Enter the number of elements: 3
Enter a number: 34
Enter a number: 65
Enter a number: 21
[34, 65, 21]
Largest element is:  65

In [32]:
lst = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst.append(ele)

print(lst)

lst.sort()

print("Largest element is: ", lst[-1])

Enter the number of elements: 4
Enter a number: 39
Enter a number: 96
Enter a number: 58
Enter a number: 48
[39, 96, 58, 48]
Largest element is:  96

Q3. Write a python program to Put Even and Odd elements in a List into Two Different Lists.

In [33]:
mixed_list = [2,5,13,17,51,62,73,84,95]

even_list = []
odd_list = []

for i in mixed_list:
  if (i % 2 == 0):
    even_list.append(i)
  else:
    odd_list.append(i)

print("The list of even elements is as follows: ")
print(even_list)

print("The list of odd elemenst is as follows: ")
print(odd_list)

The list of even elements is as follows:
[2, 62, 84]
The list of odd elemenst is as follows:
[5, 13, 17, 51, 73, 95]

Q5. Write a python program to find the Intersection of two Lists.

In [34]:
list1 = [15,9,10,56,23,78,5,4,9]
list2 = [9,4,5,36,47,26,10,45,87]

print(list(set(list1) & set(list2)))

[9, 10, 4, 5]

In [35]:
2lst1 = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst1.append(ele)

print(lst1)

lst2 = []

n = int(input("Enter the number of elements: "))

for i in range(0,n):
  ele = int(input("Enter a number: "))

  lst2.append(ele)

print(lst2)

print(list(set(lst1) & set(lst2)))

Enter the number of elements: 4
Enter a number: 47
Enter a number: 59
Enter a number: 69
Enter a number: 79
[47, 59, 69, 79]
Enter the number of elements: 4
Enter a number: 23
Enter a number: 4
Enter a number: 54
Enter a number: 65
[23, 4, 54, 65]
[]

Q6. Write a python program to check whether the given input number is Present.

In [36]:
list1 = [1,2,1,2,2]

n = int(input("Enter the number to search: "))

if n in list1:
      print(n, "is present in the list.")
else:
    print(n, "not found in the list.")

Enter the number to search: 2
2 is present in the list.

Q7. Write a python program to rotate a list by k rotation.(using both
positive and negative values of k)
Using numpy and deque module.

In [37]:
from collections import deque

nums = list(range(5))
k=-3 # - is for left rotation

x = deque(nums)
x.rotate(k)

print(x)

deque([3, 4, 0, 1, 2])

In [38]:
def Rotate_list(L,k):
    print("ORIGINAL LIST: ")
    print(L)
    L = (L[-k:] + L[:-k])
    print("ROTATED LIST: ")
    print(L)

n = int(input("Enter number of rotations: "))

List = [0,1,2,3,4]

Rotate_list(List, n)

Enter number of rotations: 4
ORIGINAL LIST:
[0, 1, 2, 3, 4]
ROTATED LIST:
[1, 2, 3, 4, 0]

In [39]:
import numpy as np

nums = list(range(5))

print(nums)

k=-2 # NEGATIVE FOR LEFT ROTATION
m=2 # POSITIE FOR RIGHT ROTATION

print("Left rotation of list:")
x = np.roll(nums,k)
print(x)

print("Right rotation of list:")
y = np.roll(nums,m)
print(y)

[0, 1, 2, 3, 4]
Left rotation of list:
[2 3 4 0 1]
Right rotation of list:
[3 4 0 1 2]

Extra Stuff

In [43]:
def triangle_area(X1,Y1,X2,Y2,X3,Y3):
  area = (X1*(Y2-Y3) + X2*(Y3-Y1) + X3*(Y1-Y2))/2
  return area

x1 = int(input("Enter the value of x1: "))
y1 = int(input("Enter the value of y1: "))
x2 = int(input("Enter the value of x2: "))
y2 = int(input("Enter the value of y2: "))
x3 = int(input("Enter the value of x3: "))
y3 = int(input("Enter the value of y3: "))
xp = int(input("Enter the value of xp: "))
yp = int(input("Enter the value of yp: "))

area = triangle_area(x1,y1,x2,y2,x3,y3)
print("The area of the main triangle is " + str(area))
area1 = triangle_area(x1,y1,x2,y2,xp,yp)
print("The area of the first triangle is " + str(area1))
area2 = triangle_area(x1,y1,xp,yp,x3,y3)
print("The area of the second triangle is " + str(area2))
area3 = triangle_area(xp,yp,x2,y2,x3,y3)
print("The area of the third triangle is " + str(area3))

if(area == area1 + area2 + area3):
  print("Point P lies within the triangle.")
else:
  print("Point P does not lie within the triangle.")

Enter the value of x1: 7
Enter the value of y1: 4
Enter the value of x2: 6
Enter the value of y2: 7
Enter the value of x3: 9
Enter the value of y3: 2
Enter the value of xp: 2
Enter the value of yp: 4
The area of the main triangle is -2.0
The area of the first triangle is 7.5
The area of the second triangle is 5.0
The area of the third triangle is -14.5
Point P lies within the triangle.