Q1. Write a program to print the following using for loop

1. First 10 Even numbers 
2. First 10 Odd numbers
3. First 10 Natural numbers
4. First 10 Whole numbers

In [ ]:
print("First 10 Even numbers are:")
for number in range (2, 21):
  if number % 2 == 0:
    print(number, end=' ')
print("\n")

print("First 10 Odd numbers are:")
for number in range (1, 20):
  if number % 2 != 0:
    print(number,end=' ')
print("\n")

print("First 10 Natural numbers are:")
for number in range (1, 11):
  print(number,end=' ')
print("\n")

print("First 10 Whole numbers are:")
for number in range (0, 10):
  print(number,end=' ')
print("\n")

First 10 Even numbers are:
2 4 6 8 10 12 14 16 18 20

First 10 Odd numbers are:
1 3 5 7 9 11 13 15 17 19

First 10 Natural numbers are:
1 2 3 4 5 6 7 8 9 10

First 10 Whole numbers are:
0 1 2 3 4 5 6 7 8 9

Q2. Write a program to display the number names of the digits of a number entered by user,
for example if the number is 541 then output should be Five Four One.

In [5]:
def Name(digit):
  if digit == "0":
    print("Zero ", end = " ")
  elif digit == "1":
    print("One ", end = " ")
  elif digit == "2":
    print("Two ", end = " ")
  elif digit == "3":
    print("Three ", end = " ")
  elif digit == "4":
    print("Four ", end = " ")
  elif digit == "5":
    print("Five ", end = " ")
  elif digit == "6":
    print("Six ", end = " ")
  elif digit == "7":
    print("Seven ", end = " ")
  elif digit == "8":
    print("Eight ", end = " ")
  elif digit == "9":
    print("Nine ", end = " ")

number = input("Enter a number:")

i = 0;

while i < len(number):
  Name(number[i])
  i+=1

Enter a number:987
Nine  Eight  Seven

Q3. Write a program to add first n terms of the following series using a for loop:

1/1! + 1/2! + 1/3! + …….. + 1/n!

In [4]:
def factorial(n):
  fact = 1
  for i in range(2, n+1):
    fact *= i
  return fact

def sum(n):
  totalSum = 0.0
  for i in range(1, n+1):
    totalSum += (1.0 / factorial(i))
  return totalSum

n = int(input("Enter the value of n:"))
print(sum(n))

Enter the value of n:7
1.7182539682539684

Q4. Write a program to display sum of odd numbers and even numbers separately that fall
between two numbers accepted from the user. (Including both numbers).

In [3]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))

even_total = 0
odd_total = 0

for i in range (num1, num2+1):
  if(i%2 == 0):
    even_total += i
  else:
    odd_total += i

print("The sum of even numbers is", even_total)
print("The sum of odd numbers is", odd_total)

Enter the first number:25
Enter the second number:75
The sum of even numbers is 1250
The sum of odd numbers is 1300

Q5. Write a program to display all the numbers which are divisible by 13 but not by 3
between 100 and 500.

In [ ]:
print("Numbers that are divisible by 13 but not by 3 are :")
for number in range(100, 501):
  if number % 13 == 0 and number % 3 != 0:
    print(number,end="  ")

Numbers that are divisible by 13 but not by 3 are :
104  130  143  169  182  208  221  247  260  286  299  325  338  364  377  403  416  442  455  481  494

Q6. Write a Program to print all the characters in the string ‘PYTHON PROGRAMMING’
using a for loop.

In [ ]:
string = "PYTHON PROGRAMMING" 

for i in range(len(string)):
  print(string[i])

P
Y
T
H
O
N

P
R
O
G
R
A
M
M
I
N
G

Q7. Write a program to print all the factors of a number using a for loop.

In [2]:
num = int(input("Enter a number:"))

print("The factors of the number are:")
for i in range (1, num+1):
  if num % i == 0:
    print(i,end=" ")

Enter a number:1000
The factors of the number are:
1 2 4 5 8 10 20 25 40 50 100 125 200 250 500 1000

Q8. Write a program to print the following series till n terms.

1 4 9 16 25 _ _ _ _ _ n terms

In [12]:
num = int(input("Enter a number:"))

for i in range(1, num+1):
  print(i*i, end = " ")
  i += 1

Enter a number:30
1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900

Q9. Write a program to check whether the given inputted number is prime or not.

In [11]:
num = int(input("Enter a number: "))

temp = False

if num > 1:
  for i in range (2, int(num/2)+1):
    if num % i == 0:
      temp = True
      break

if (temp == True):
  print(num, ": NOT a Prime Number.")
else:
  print(num, ": Prime Number.")

Enter a number: 53
53 : Prime Number.

Q10. Write a Python program to construct the following pattern, using a nested for loop.

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('* ', end="") #gives space
    print('') #starts a new line

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q11. Write a program to print the grade card of a student. Accept marks of 5 subjects for a
student, compute the % of marks and print the grade.

* If the percentage is greater than 80 then grade A
* If between 60-79 then B,
* If between 40-50 then C, otherwise F.

In [10]:
marks1 = int(input("Enter the marks of Subject 1:"))
marks2 = int(input("Enter the marks of Subject 2:"))
marks3 = int(input("Enter the marks of Subject 3:"))
marks4 = int(input("Enter the marks of Subject 4:"))
marks5 = int(input("Enter the marks of Subject 5:"))

percentage = float(((marks1 + marks2 + marks3 + marks4 + marks5)/500) * 100)
print("You Got",end=" ")
if percentage >= 80.0:
  print("Grade A")
elif percentage >= 60.0 or percentage <= 79.0:
  print("Grade B")
elif percentage >= 40.0 or percentage <= 50.0:
  print("Grade C")
else:
  print("Grade F")

Enter the marks of Subject 1:85
Enter the marks of Subject 2:75
Enter the marks of Subject 3:65
Enter the marks of Subject 4:95
Enter the marks of Subject 5:90
You Got Grade A

Q12. Write a program to perform the following task:

* Accept the name of subject and marks information for two subjects
* If subject is maths or science then add the marks and print
* If the subject is English or social then find the percentage of marks.

In [ ]:
print("Available subjects: Maths & Science or English & Social")

sub1 = input("Enter the name of subject 1:")
marks1 = float(input("Enter the marks:"))
sub2 = input("Enter the name of subject 2:")
marks2 = float(input("Enter the marks:"))

if ((sub1 == "Maths" and sub2 == "Science") or (sub1 == "Science" and sub2 == "Maths")):
  print("The sum of the marks is", marks1 + marks2)
elif ((sub1 == "English" and sub2 == "Social") or (sub1 == "Social" and sub2 == "English")):
  print("The percentage of marks is", (marks1+marks2)/2)
else:
  print("ERROR!")

Available subjects: Maths & Science or English & Social
Enter the name of subject 1:English
Enter the marks:68
Enter the name of subject 2:Social
Enter the marks:98
The percentage of marks is 83.0

Q13. Write a program to accept 10 numbers in tuple and find the largest element and smallest
with index.

In [9]:
tup = []

for i in range(10):
  tup.append(int(input("Enter a number:")))

tup = tuple(tup)

print("Tuple Items are as follows:")
print(tup)

tup_largest = tup[0]
tup_smallest = tup[0]

for i in range(10):
  if tup_largest < tup[i]:
    tup_largest = tup[i]
  if tup_smallest > tup[i]:
    tup_smallest = tup[i]

print("The largest element in the tuple is", tup_largest)
print("The smallest element in the tupl is", tup_smallest)

Enter a number:1
Enter a number:8
Enter a number:9
Enter a number:2
Enter a number:100
Enter a number:1000
Enter a number:590
Enter a number:950
Enter a number:460
Enter a number:640
Tuple Items are as follows:
(1, 8, 9, 2, 100, 1000, 590, 950, 460, 640)
The largest element in the tuple is 1000
The smallest element in the tupl is 1

Q14. Write a Python program to convert character of a string to a list containing their ascii
value.

In [6]:
string = input("Enter a string :")

ascii = []

for i in string:
  ascii.append(ord(i)) 

print(ascii)

Enter a string :SRUSHTI
[83, 82, 85, 83, 72, 84, 73]

Q15. Python Program to Concatenate two list of lists Row-wise. Given two list, write a Python program to add elements to each row.
* Input: test_list1 = [[1, 2, 3], [1, 2, 3], [3, 7, 4]],
* test_list2 = [[4, 5], [9, 3, 5, 7], [8]]
* Output: [[1, 2, 3, 4,5], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]
* Hint: Use Enumerate function

In [8]:
test_list1 = [[8, 2, 5], [4, 2, 3], [3, 9, 4]]
test_list2 = [[4, 5], [9, 8, 6, 7], [5]]
              
for i, j in enumerate(test_list1):
  new_list = []

  for j in test_list2[i]:
    new_list.append(j)

  test_list1[i].extend(new_list)

print("The concatenated list: " + str(test_list1))

The concatenated list: [[8, 2, 5, 4, 5], [4, 2, 3, 9, 8, 6, 7], [3, 9, 4, 5]]