# Name : Srushti Dhakate

Batch : A2

Roll No : A-25

# **PRACTICAL 1 : DATATYPES AND OPERATORS IN PYTHON**

(i) Write a Python Program to print data of different data types using variables and literal
constants.

In [24]:
print("Hello World")

Hello World

In [25]:
a=10
b=20.0
c="Srushti"
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

10
20.0
Srushti
<class 'int'>
<class 'float'>
<class 'str'>

In [26]:
myList = [10,81,310,7]
print(myList)
print(type(myList))

[10, 81, 310, 7]
<class 'list'>

In [27]:
myTuple = (20,123,7,11)
myTuple

(20, 123, 7, 11)

In [28]:
compList = [a,b,c,myList,myTuple]
compList

[10, 20.0, 'Srushti', [10, 81, 310, 7], (20, 123, 7, 11)]

(ii)Write a Python Program to read two numbers from user input and apply all the arithmetic
and comparison (Relational) operators.

In [29]:
x = 4
y = 2
print(type(x))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)

<class 'int'>
6
2
8
2.0
2

In [30]:
a=10
print(a)
a+=10
print(a)
a-=5
print(a)
a*=7
print(a)
a/=5
print(a)

10
20
15
105
21.0

In [31]:
x = 10
y = 12
print(x<y)
print(not(x<y))
print(x>y)

True
False
False

In [32]:
a = input("Enter 1st number")
b = input("Enter 2nd number")
a = int(a)
b = int(b)
c = a+b
print(c)
c = a-b
print(c)
c = a*b
print(c)
c = a/b
print(c)
c = a%b
print(c)
c = a>b
print("a>b? " + str(c))
c = a<b
print("a<b? " + str(c))

Enter 1st number56
Enter 2nd number89
145
-33
4984
0.6292134831460674
56
a>b? False
a<b? True

In [33]:
for i in range(10,1,-3):
  print(i)

10
7
4

(iii)Write a Python Program to demonstrate Logical operators, Membership operators and
Identity operator in python.

In [34]:
x = ["car", "bus"]
print("bus" in x)
print("car" not in x)
print("cycle" not in x)

True
False
True

In [35]:
x = 5
print(x > 3 and x < 10)
print(x == 5 or x < 10)
print(not(x == 5 or x < 10))

True
True
False

(iv)Write a Python program that accepts an integer (x) and computes the value of x+xx+xxx
5
55
555
+++++++++
615

In [36]:
s = input("Enter a number: ")
print(s)
s1 = s+s;
print(s1)
s2 = s1+s
print(s2)
print("-----------")
print(int(s)+int(s1)+int(s2))

Enter a number: 5
5
55
555
-----------
615

(v)Write a program that asks the user to input their name and their age. Print out a message
addressed to them that tells them the year that they will turn 75 years old.

In [38]:
name = input("Enter your Name: ")
age = input("Enter your Age: ")
age75 = 2021-int(age)+75;
if age75<=2021:
  print(name + " turned 75 in year: " + str(age75))
else:
  print(name + " will turn 75 in year: " + str(age75))

Enter your Name: Srushti
Enter your Age: 19
Srushti will turn 75 in year: 2077

(vi)Evaluate the given arithmetic expressions using the rules of operator precedence in Python

In [22]:
a = 4+5*10 
print(a)
a = 6+7*2+5
print(a)
a = 20//4*2
print(a)
a = 24//6//3
print(a)
a = 100-(15*3)
print(a)
a = - (100/6) + 5
print(a)
a = 5*6**3
print(a)
a = 4**2**3
print(a)
a = 50+10**3-2
print(a)

54
25
10
1
55
-11.666666666666668
1080
65536
1048