#Name: Srushti Dhakate 
##Roll no .: A 25
#Systems Lab Task 9
#Branch:  CSE(1ST SHIFT)

Q1. Operation in python tuple

In [1]:
#create a tuple use () notation for tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [2]:
#tuples allow duplicate values
thistuple = ("apple", "banana", "cherry", "apple", "banana")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'banana')

In [3]:
#print second item in tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [4]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [5]:
#create tuple with one item
#to create a tuple with only one item use a comma

#tuple
thistuple = ("apple",)
print(type(thistuple))

#not a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [6]:
#tuple with strings, integers and boolean values:

tuple1 = {"abs", 24, True, 40, "male"}
print(type(tuple1))
print(tuple1)

<class 'set'>
{True, 40, 'male', 'abs', 24}

In [7]:
#tuple() constructor

thistuple = tuple(("apple", "banana", "cherry")) #note the double round brackets

print(thistuple)

('apple', 'banana', 'cherry')

In [8]:
thistuple =  ("apple", "banana", "cherry")
for x in thistuple:
  print(x, end=" ")

apple banana cherry

In [12]:
#write a python program to unpack a tuple in several variable

tuple = 4, 7, 2
print(tuple)

n1, n2, n3 = tuple
#unpack a tuple in variables

print(n1 + n2 + n3)
#the number of variables must be eqaul to the number of items of the tuple
n1, n2, n3 = tuple

(4, 7, 2)
13

In [13]:
# Different types of tuples

# Empty tuple
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [14]:
# Concatenation
print((1, 2, 3) + (4, 5, 6))

print(("Repeat",) * 3)

(1, 2, 3, 4, 5, 6)
('Repeat', 'Repeat', 'Repeat')

Q2. Methods in python tuple.

In [15]:
#convert tuple to string

tup =  ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str = ''.join(tup)
print(str)

exercises

In [16]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)

print(my_tuple.count('p'))  
print(my_tuple.index('l'))

2
3

In [17]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [18]:
thistuple = (1, 3, 7, 9, 6, 3, 0, 4, 8, 5)

x = thistuple.index(8)

print(x)

8

Q3. Write a python program to join two tuples.

In [19]:
#join tuples

tuple1 = ("a", "b", "c")
tuple2 = (1,2,3)

tuple3 = tuple1 + tuple2
print(tuple3)

tuple1 = tuple1 + tuple2
print(tuple1)

('a', 'b', 'c', 1, 2, 3)
('a', 'b', 'c', 1, 2, 3)

Q4. Write a python program to multiply the content of a tuple.

In [20]:
#multiply contents of a tuple

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Q5. Pass a tuple to the divmod() function and obtain the quotient and the remainder.

In [21]:
#pass a tuple to the divmod() function and obtain the quotient and the remainder

result = divmod(17,3)
print(result)

# or

t = (17,3)
print(t)
result = divmod(*t)
print(result)

(5, 2)
(17, 3)
(5, 2)

Q6. Create 3 lists - a list of names, a list of ages and a list of salaries. Generate and print a
list of tuples containing name, age and salary from the 3 lists. From this list generate 3 tuples, one containing all names, another containing all ages and third containing all salaries.

In [22]:
names= ('srushti','priti','aaryan')
ages= [50,35,12]
salaries=[34521,42567.8,25677.90]
result=zip()
print(list(result))
it=zip(names,ages,salaries)
lst = list(it)
#unzip
n,a,s=zip(*lst)
print(n)
print(a)
print(s)

[]
('srushti', 'priti', 'aaryan')
(50, 35, 12)
(34521, 42567.8, 25677.9)

Q7. Write a program to obtain the transpose of a 3 x 4 matrix.

In [23]:
#write a program to obtain transpose of a 3x4 matrix
mat=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
ti=zip(*mat)
lst=list(ti) 
print(lst)

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

Q8. Create a list of tuples. Each tuple should contain an item and its price in float. Write a program to sort the tuples in descending order by price.

In [24]:
#bubblesort
#create a list of tuples
#decending order as per prize
new_list = [('Rice',57.85),('Cadbury',250.80),('Milk',60.90),('Tea',300.0),('Bread',25.5)]
new_ele=1
new_lis_len = len(new_list)
for k in range (0,new_lis_len):
  for l in range(0,new_lis_len-k-1):
    if(new_list[l][new_ele]< new_list[l+1][new_ele]):
      new_tem = new_list[l]
      new_list[l]= new_list[l+1]
      new_list[l+1]=new_tem
print(new_list)

[('Tea', 300.0), ('Cadbury', 250.8), ('Milk', 60.9), ('Rice', 57.85), ('Bread', 25.5)]

Q9. Create a list of tuples. Each tuple should contain an item and its price in float. Write a program to sort the tuples in ascending order by price.

In [25]:
#bubblesort
#create a list of tuples
#asending order as per prize
new_list = [('Rice',57.85),('Cadbury',250.80),('Milk',60.90),('Tea',300.0),('Bread',25.5)]
new_ele=1
new_lis_len = len(new_list)
for k in range (0,new_lis_len):
  for l in range(0,new_lis_len-k-1):
    if(new_list[l][new_ele]> new_list[l+1][new_ele]):
      new_tem = new_list[l]
      new_list[l]= new_list[l+1]
      new_list[l+1]=new_tem
print(new_list)

[('Bread', 25.5), ('Rice', 57.85), ('Milk', 60.9), ('Cadbury', 250.8), ('Tea', 300.0)]

Q10. Create a list of tuples. Each tuple should contain an item and its price in float. Write a program to sort the tuples in descending order by item.

In [26]:
#bubblesort
#create a list of tuples
#each tuple should contain an item and its price in float 
#write a program to sort the tuples in descending order by name.
new_list = [('Rice',57.85),('Cadbury',250.80),('Milk',60.90),('Tea',300.0),('Bread',25.5)]
new_ele=0
new_lis_len = len(new_list)
for k in range (0,new_lis_len):
  for l in range(0,new_lis_len-k-1):
    if(new_list[l][new_ele]< new_list[l+1][new_ele]):
      new_tem = new_list[l]
      new_list[l]= new_list[l+1]
      new_list[l+1]=new_tem
print(new_list)

[('Tea', 300.0), ('Rice', 57.85), ('Milk', 60.9), ('Cadbury', 250.8), ('Bread', 25.5)]

#EXTRA QUESTIONS DONE IN CLASS

In [ ]:
def test(list1):
  result=map(sum, list1)
  return list(result)
nums=[(-1, -7), (-8, 3), (5, -6)]
print(nums)
print(test(nums))
nums=[(1, 7), (8, 3), (5, 6)]
print(nums)
print(test(nums))

[(-1, -7), (-8, 3), (5, -6)]
[-8, -5, -1]
[(1, 7), (8, 3), (5, 6)]
[8, 11, 11]

In [ ]:
def test(lst):
  result=map(sum,lst)
  return list(result)

nums=[(1,2,-9),(2,3,8),(3,-3,4),(-4,9,-7)]
print("original list of tuple:")
print(nums) 
print("sum of all the elements of each tuple stored inside the said list of tuples :")
print(test(nums))

original list of tuple:
[(1, 2, -9), (2, 3, 8), (3, -3, 4), (-4, 9, -7)]
sum of all the elements of each tuple stored inside the said list of tuples :
[-6, 13, 4, -2]

In [ ]:
#Write a python program to convert a given list of tuples to a list of lists.
def test(lst_tuples):
    result =[list(el)for el in lst_tuples]
    return result


lst_tuples = [(11,22),(22,33),(33,44)]
print("original list of tuple:")
print(lst_tuples)
print("convert the said list of tuples to list of lists:")
print(test(lst_tuples))

original list of tuple:
[(11, 22), (22, 33), (33, 44)]
convert the said list of tuples to list of lists:
[[11, 22], [22, 33], [33, 44]]

In [ ]:
names= ('srushti','priti','aaryan')
n=zip(names)
lst=list(n)
print(lst)

[('srushti',), ('priti',), ('aaryan',)]

In [ ]:
name=("srush", "amit", "raj", "kriti")
age=(17, 18, 19, 18)
marks=(48, 45, 47, 38)
result=zip()
print(list(result))
iterable=zip(name, age, marks)
list1=list(iterable)
print(list1)
name,age,marks=zip(*list1)
print(name)
print(age)
print(marks)

[]
[('srush', 17, 48), ('amit', 18, 45), ('raj', 19, 47), ('kriti', 18, 38)]
('srush', 'amit', 'raj', 'kriti')
(17, 18, 19, 18)
(48, 45, 47, 38)

In [ ]:
#pass a tuple to divmod()function and obtain the quotient and remainder.
result=divmod(17,3)
print(result)
t=(17,3)
result=divmod(*t)

(5, 2)

In [ ]:
result=divmod(17,3)
print(t)
t=(17,3)
result=divmod(*t)
print(result)

(17, 3)
(5, 2)

In [ ]:
#suppose we have a list of integers and a tuple of 5 floats . can we zip them and obtain an iterator.if yes,how?
integer=[10,20,30,40,50]
floats=(1.1,2.2,3.4,7.4,5.7)
ti=zip(integer,floats)
lst=list(ti)
print(lst)
for i ,f in lst:
  print(i,f)

[(10, 1.1), (20, 2.2), (30, 3.4), (40, 7.4), (50, 5.7)]
10 1.1
20 2.2
30 3.4
40 7.4
50 5.7